.App {
  background-image: url("https://images.pexels.com/photos/673648/pexels-photo-673648.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: 1200px 550px;
  background-repeat: no-repeat;
  /* text-align: center; */
}

.App-header {
  text-align: center;
  font-family: 'Nunito';
  background-color: #F4C22B;
  height: 20px;
}

.App-title {
  height: 200px;
  justify-content: center;
}

.App-intro {
  border-top: solid 6px;
  border-color: #EDF2EB;
  font-family: 'Kirang Haerang';
  font-weight: bolder;
  color: #F2AF2D;
  text-align: center;
  font-size: 50px;

}

.appcolors {
  font-family: 'Butterfly Kids';
  color: #F2AF2D;
}

.NavigationBar {
  font-family:'Nunito';
  padding: 10px;
  font-size: 15px;
  background-color: white;
  height: 40px;
}

.HomeLink {
  padding: 15px;
  color: #6B7C8E;
}

.UsersLink {
  color: #6B7C8E;
}

Button {
  font-family: 'Nunito' !important;
  background-color: #4067C0;
}

footer {
  border-top: solid 6px;
  border-color: #EDF2EB;
  margin-top: 125px;
  font-family: 'Nunito';
  text-align: center;
  color: #6B7C8E;

}

.pic {
  border: 1px solid black;
}
