.App {
  /* SOURCE: https://stackoverflow.com/questions/23362157/how-to-make-a-css-triangle-background-on-a-div-without-using-border-and-image
  SOURCE: https://stackoverflow.com/questions/34108433/html-css-linear-gradient-not-taking-up-full-screen */
  background: linear-gradient(to bottom right, #F7D7D7 0%, #F7D7D7 50%, #FFFFFF 50%, #E3F4EC 100%);
  margin: 10px;
  background-attachment: fixed;
  /* Setting screen size: https://teamtreehouse.com/community/resizing-div-automatically-depending-on-screen-size */
  /* Prevent footer blocking content: https://stackoverflow.com/a/16245465 */
  width:100%;
  min-height:100vh;
  background-size:cover;
  overflow: scroll;
  margin-bottom: 50px;
  clear: both;
}

.App-title {
  height: 200px;
  justify-content: center;
}

.App-intro {
  border-color: #EDF2EB;
  font-family: 'Bowlby One SC';
  color: #6BBEF2;
  text-align: left;
  font-size: 100px;
  margin: 10px;
  flex-wrap: wrap;
}

/* APP LETTERS ONLY */

.appcolors {
  font-family: 'Raleway Dots';
  color: #F6454F;
  font-size: 125px;
}

h3 {
  margin: 40px;
  font-family: 'Raleway Dots' !important;
  font-size: 100px !important;
  text-align: left;
}

/* https://www.w3schools.com/howto/howto_css_vertical_line.asp */

/* HOME PAGE */

.line {
  border-left: 8px solid white;
  margin-left: 20px;
}

.NavigationBar {
  bottom: 0;
  font-family: 'Nunito';
  /* padding: 10px; */
  background-color: #F7D7D7;
  height: 50px;
  border-bottom: solid 3px white;
}

.navbar {
  display: inline !important;
  text-align: right;
}

.Users {
  font-size: 25px;
  font-family: 'Nunito';
  text-align: center;
}

.card {
  width: 25% !important;
}

/*SOURCE: https://stackoverflow.com/questions/1027354/need-an-unordered-list-without-any-bullets  */

ul {
  list-style-type: none;
  text-align: center;
  display: inline;
}

/* https://stackoverflow.com/questions/28261287/how-to-change-btn-color-in-bootstrap */

.btn-link {
  color: black !important;
  background-color: #F7D7D7 !important;
  border-color: #F7D7D7 !important;
  padding: 10px;
}

.description {
  font-size: 18px;
  font-weight: bolder;
  float: right;
  width: 400px;
  margin-right: 100px;
  font-family: 'Raleway Dots';
}

.card text-center {
  background-color: black;
  margin: 50px;
  width: 100%;
}

.Container {
  margin: 20px;
}

.User-Info {
  display: inline-block;
}

.usersIndicator {
  color: gray;
  font-family: 'Quicksand';
}

.UserImage {
  float: left;
  padding: 5px;
  width: 80%;
  max-width: 100px;
  margin: 0 auto;
}

.useravatarimage {
  height: 100px;
  width: 100px;
}

.photo {
  text-align: center;
}

.postShow {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0px;
  width: 80%;
  margin: auto;
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, .1);
}

.photoAndId {
  width: 40%;
  float: left;
  padding: 20px;
}

.card {
  width: 100% !important;
}

.imageResize {
  max-width: 100%;
}

form {
  margin: 10px;
}

.pic {
  border: 1px solid black;
}

.UserPost > ul > h3 {
  font-family: 'Raleway Dots' !important;
  font-size: 50px !important;
}

.UserPost > ul > p{
  text-align: left;
  margin-left: 50px;
}

.UserPost > ul > span > a > img{
  text-align: left;
  margin-left: 50px;
}

.UserPost{
  border-radius: 10px;
  margin: 10px;
  width: 1000px;
  display: inline-block;
  position: relative;
  border: 1px dashed #6BBEF2;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
  overflow: scroll;
}

.wrapper {
  margin: 2px;
  display: inline;
}

.container-fluid {
  padding: 10px;
  text-align: center;
}

.PostEdit {
  padding: 10px;
}

.form-group {
  font-family: 'Quicksand';

}
